div {
    display: flex;;
    margin: 1rem 0;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 60%;
}

label {
    font-weight: 600;
}

input {
    border: none;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    height: 30px;
    padding: 0.5rem 1rem;
    color: white;
    width: 75%;
    margin-top: 1rem;
}

input::placeholder{
    color: azure;
    font-weight: 600;
}