span {
    text-align: center;
    font-size: 1.5rem;
    width: 3rem;
    height: 1.5rem;
    border-radius: 1rem;
    padding: 0.3rem;
    color: white;
}

span.alert {
    background-color: #ff005c;
}

span.warning {
    background-color: #ffa100;
}

span.correct {
    background-color: #15be77;
}